*{
    margin: 0px;
    padding: 0px;
}

.header{
    width: 100%;
    height: 180px;
    background-color: black;
    display: flex;
    justify-content: center;
}
.header-img{
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
   
}

.menu{
    width: 100%;
    height: 51px;
    display: flex;
    justify-content: center;
    border-top: 1px solid brown ;
}

.menu-m{
    width: 100%;
    height: 51px;
    display: flex;
    justify-content: center;
    background-color: rgb(236, 226, 226);
}

.menu-m ul .menu-1{
    float: left;
    list-style: none;
    padding: 0px 50px 0px 50px;
    line-height: 50px;
    font-size: 22px;
    
}
.dropdown{
    position: relative;
}

.menu-2{
    position: absolute;
    display: none;
    width: 140px;
    font-size: 18px;
    background-color: rgb(247, 241, 241);
}
.menu-2 li{
    list-style: none;
    border-top: 1px solid rgb(184, 103, 103);
    border-bottom: 1px solid rgb(231, 189, 189) ;
    padding-left: 10px;
}
.menu-2 li:hover{
    background-color: rgb(250, 250, 250);
}

.dropdown:hover .menu-2{
    display: block;
}

.menu-m ul li a{
    color: brown;
    text-decoration: none;
    font-weight: 900;
}
.menu-m ul li a:hover{
    color:rgb(99, 48, 48);

}

.cont{
    width: 100%;
    height: 700px;
    background-color:rgb(247, 241, 241);
}
.cont-banner{
    width: 100%;
    height: 300px;
    background-image: url(image/exo1.jpg);
    color: white;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.cont-banner button{
    padding-bottom: 0%;
    padding-top: 0%;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.cont-2{
    width: 1200px;
    height: 300px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}
.cont-2-ct{
    width: 350px;
    height: 300px;
    float: left;
    text-align: center;
}
.cont-2-ct img{
    padding-top: 20px;
    width: 100px;
    height: 100px;
}
.cont-2-ct h3{
    padding: 15px 20px;
    color:  rgb(136, 30, 30);

}
.cont-2-ct p{
    padding: 0px 15px;
    color: rgb(151, 62, 62);
}

.wpb_wrapper{
    width: 1200px;
    height: 50px;
    margin: 0px auto;
}
.wpb_wrapper input{
    width: 900px;
    height: 40px;
    padding-left: 25px;
}

.wpb_wrapper button{
    width: 250px;
    height: 44px;
    float:right
}
.wpb_wrapper button:hover{
    background-color: rgb(165, 76, 76);
    cursor: pointer
}
.footer{
    width: 100%;
    height: 150px;
    background-color: rgb(236, 226, 226);
    padding-bottom: 0px;
}
.footer-img{
    padding-top: 20px;
    padding-left: 20px;
    width: 100px;
    height: 67px;
    display: flex;
    justify-content: left;
   
}
.footer-end{
    width: 1200px;
    height: 50px;
}
.copyright{
    width: 500px;
    height: 15px;
    text-align: left;
    float: left;
    line-height: 50px;
}
.copyright p{
    padding: 10px 15px;
    color: rgb(221, 168, 168);
}
.footer-menu{
    width: 600px;
    height: 50px;
    display: flex;
    justify-content: right;

    line-height: 35px;
    margin-top:20px;
    float: right;
}
.footer-menu li{
    list-style: none;
    float: left;
    border-right: 1px solid rgb(238, 164, 164);
    padding: 0px 20px 0px 20px;
}
.footer-menu ul{
    margin-right: 20px;

}
.footer-menu li a{
    color: rgb(153, 93, 93);
    text-decoration: none;
}
